@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* shared styles */
.display-flex {
  display: flex;
}
.navbar,
.banner {
  max-width: 1160px;
  margin: 0 auto;
}
/* nav bar style */
.navbar {
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
}
.logo {
  align-items: center;
}
.logo .logo-name {
  font-size: 2rem;
  font-weight: 700;
}
.nav-item {
  list-style: none;
  margin-right: 30px;
}
.nav-link {
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 500;
}
#home-link {
  color: #fea301;
  font-weight: 700;
}
#about-link {
  color: #01acfd;
}
#facilities-link {
  color: #05d4df;
}
#admission-link {
  color: #5d58ef;
}
.nav-btn {
  padding: 10px 60px;
  background-color: #fea301;
  color: white;
  font-size: 1.25rem;
  font-weight: 600;
  border: none;
  border-radius: 12px;
}
.icon {
  display: none;
}
/* banner style */
.banner {
  align-items: center;
  justify-content: space-between;
}
.banner-content {
  max-width: 640px;
}
.banner-title {
  font-size: 3.5rem;
  font-weight: 700;
}
#banner-title-orange {
  color: #fea301;
}
#banner-title-blue {
  color: #01acfd;
}
.banner-description {
  font-size: 1.25rem;
  margin: 24px 0;
}
.banner-btn {
  background-color: black;
  padding: 10px 45px;
  font-size: 1.25rem;
  font-weight: 700;
  color: white;
  border-radius: 12px;
  border: none;
}
.banner-img img {
  width: 100%;
}
/* responsive styles */
@media screen and (max-width: 576px) {
  header {
    border-bottom: 0.5px solid #fea301;
  }
  .navbar {
    padding-left: 16px;
    padding-right: 16px;
  }
  .nav-links,
  .nav-btn {
    display: none;
  }
  .icon {
    display: inline;
  }
  .banner {
    flex-direction: column-reverse;
    text-align: center;
    gap: 20px;
    padding: 0 16px;
  }
}
